{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        lambdaisland/kaocha {:mvn/version "0.0-340" :exclusions [org.clojure/clojure]}}

 :aliases
 {:dev  {}
  :test {:extra-deps {lambdaisland/kaocha-cucumber  {:mvn/version "0.0-36"}
                      lambdaisland/kaocha-cloverage {:mvn/version "0.0-22"}
                      akvo/fs                       {:mvn/version "20180904-152732.6dad3934"}}}}}
